header {
  background-image: url('../../assets/background/bg-header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 222px;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 24px 54px;

  font-family: 'Montserrat', sans-serif;
}

header h1 {
  width: 531px;
  font-size: 36px;
  font-weight: bold;
}

.info-header span {
  margin-right: 16px;
}

.first-steps {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.first-steps h2,
.expand-knowledge h2 {
  color: var(--light-purple-color);
  margin-bottom: 40px;
}

.first-steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-steps-card,
.frontend-card,
.backend-card,
.mobile-card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 300px;
  height: 118px;
  display: flex;
  align-items: center;
  margin-right: 30px;
  padding: 0 18px;
  margin-bottom: 30px;
}

.first-steps-card:hover {
  cursor: pointer;
}

.first-steps-info,
.frontend-info,
.backend-info,
.mobile-info {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  align-items: flex-start;
}

.first-steps-info h4,
.frontend-info h4,
.backend-info h4,
.mobile-info h4 {
  color: var(--dark-purple-color);
}

.first-steps-info span,
.frontend-info span,
.backend-info span,
.mobile-info span {
  color: var(--light-purple-color-transparent);
  font-size: 14px;
}

.expand-knowledge {
  margin-bottom: 100px;
}

.expand-knowledge .frontend,
.expand-knowledge .backend,
.expand-knowledge .mobile {
  margin-bottom: 30px;
}

.expand-knowledge-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frontend h3,
.backend h3,
.mobile h3 {
  color: var(--light-purple-color);
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
